ops/n8n/workflows/WF-4-submit-finalize.json
{
  "name": "WF-4 submit-finalize",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "submit/finalize",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "w4",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "submit-finalize-wh"
    },
    {
      "parameters": {
        "jsCode": "const b = $json.body || {};\nconst sid = String(b.submission_id || \"\");\nconst isUuid = /^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$/.test(sid);\nreturn [{ json: { payload: { submission_id: isUuid ? sid : \"\" } } }];"
      },
      "id": "prep",
      "name": "Prep",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH input AS (SELECT $1::jsonb AS d),\nsub AS (\n  SELECT id, status, left(id::text, 8) AS short_id\n  FROM seller_submissions\n  WHERE id = NULLIF((SELECT d->>'submission_id' FROM input), '')::uuid\n  LIMIT 1\n),\ncnt AS (\n  SELECT COALESCE(\n    (SELECT count(*) FROM submission_photos WHERE submission_id = (SELECT id FROM sub)), 0\n  ) AS n\n),\nupd AS (\n  UPDATE seller_submissions SET status = 'received'\n  WHERE id = (SELECT id FROM sub)\n    AND status = 'pending_uploads'\n    AND (SELECT n FROM cnt) BETWEEN 3 AND 6\n  RETURNING id\n)\nSELECT\n  (SELECT id FROM sub) IS NOT NULL AS found,\n  (SELECT short_id FROM sub)       AS short_id,\n  (SELECT status FROM sub)         AS prev_status,\n  (SELECT n FROM cnt)              AS photo_count,\n  (SELECT id FROM upd) IS NOT NULL AS updated;",
        "options": {
          "queryReplacement": "={{ JSON.stringify($json.payload) }}"
        }
      },
      "id": "pg4",
      "name": "Finalize submission",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        440,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "GZJQdHGNtdLI18IW",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const r = $json || {};\nconst n = Number(r.photo_count || 0);\nif (!r.found) return [{ json: { statusCode: 404, body: { ok: false, error: \"submission_not_found\" } } }];\nif (n < 3 || n > 6) return [{ json: { statusCode: 409, body: { ok: false, error: \"photos_incomplete\", photo_count: n } } }];\nreturn [{ json: { statusCode: 200, body: { ok: true, short_id: r.short_id } } }];"
      },
      "id": "shape",
      "name": "Shape",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.body }}",
        "options": {
          "responseCode": "={{ $json.statusCode }}"
        }
      },
      "id": "r4",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        880,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const fin = $('Finalize submission').first().json || {};\nconst sid = ($('Webhook').first().json.body || {}).submission_id;\nif (fin.updated === true && sid) {\n  try {\n    await this.helpers.httpRequest({ method: 'POST', url: 'http://127.0.0.1:5678/webhook/submit/process',\n      headers: { 'Content-Type': 'application/json' }, body: { submission_id: sid }, json: true });\n  } catch (e) { /* best-effort; WF-5 runs to completion independently even if this connection times out */ }\n}\nreturn [{ json: { triggered: fin.updated === true } }];"
      },
      "id": "trig",
      "name": "Trigger AI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep": {
      "main": [
        [
          {
            "node": "Finalize submission",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize submission": {
      "main": [
        [
          {
            "node": "Shape",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shape": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond": {
      "main": [
        [
          {
            "node": "Trigger AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {}
}