ops/n8n/workflows/WF-A4-admin-resolve.json
{
  "name": "WF-A4 admin-resolve",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "admin/resolve",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "w",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -200,
        0
      ],
      "webhookId": "admin-resolve-wh"
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst b = $json.body || {};\nconst sid = String(b.submission_id||'');\nconst action = String(b.action||'');\nconst operator = String(b.operator_email||'');\nconst isUuid = /^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$/.test(sid);\nconst valid = isUuid && ['send_to_merchant','approve','reject','requeue'].includes(action);\nlet tokens = [];\nif (valid && action === 'send_to_merchant') {\n  for (const a of ['approve','reject']) {\n    const raw = crypto.randomBytes(32).toString('hex');\n    tokens.push({ action: a, hash: crypto.createHash('sha256').update(raw).digest('hex'), raw });\n  }\n}\nreturn [{ json: { payload: { submission_id: sid, action, operator_email: operator, valid, tokens: tokens.map(t=>({action:t.action,hash:t.hash})) }, rawTokens: tokens } }];"
      },
      "id": "prep",
      "name": "Prep",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH inp AS (SELECT $1::jsonb AS d),\nsub AS (\n  SELECT s.id, s.status, left(s.id::text,8) AS short_id, s.merchant_id,\n         m.display_name AS merchant_name, m.contact_email AS merchant_email, m.calcom_event_url,\n         se.email AS seller_email, se.name AS seller_name\n  FROM seller_submissions s JOIN merchants m ON m.id=s.merchant_id JOIN sellers se ON se.id=s.seller_id\n  WHERE s.id = NULLIF((SELECT d->>'submission_id' FROM inp),'')::uuid AND (SELECT (d->>'valid')::boolean FROM inp)\n  LIMIT 1\n),\nupd AS (\n  UPDATE seller_submissions SET\n    status = CASE (SELECT d->>'action' FROM inp)\n               WHEN 'approve' THEN 'merchant_approved'\n               WHEN 'reject' THEN 'merchant_rejected'\n               WHEN 'send_to_merchant' THEN 'merchant_review'\n               WHEN 'requeue' THEN 'received' END,\n    merchant_decided_at = CASE WHEN (SELECT d->>'action' FROM inp) IN ('approve','reject') THEN NOW() ELSE merchant_decided_at END,\n    ai_reviewed_at = CASE WHEN (SELECT d->>'action' FROM inp)='requeue' THEN NULL ELSE ai_reviewed_at END\n  WHERE id = (SELECT id FROM sub)\n  RETURNING id, status\n),\ntok AS (\n  INSERT INTO decision_tokens (token_hash, submission_id, merchant_id, action, expires_at)\n  SELECT t->>'hash', (SELECT id FROM sub), (SELECT merchant_id FROM sub), t->>'action', NOW() + INTERVAL '7 days'\n  FROM inp, jsonb_array_elements(coalesce((SELECT d->'tokens' FROM inp),'[]'::jsonb)) t\n  WHERE (SELECT id FROM upd) IS NOT NULL AND (SELECT d->>'action' FROM inp)='send_to_merchant'\n  RETURNING token_hash\n),\naud AS (\n  INSERT INTO audit_log (agent_run_id, event_type, payload, submission_id)\n  SELECT gen_random_uuid(), 'operator_resolved',\n         jsonb_build_object('operator', (SELECT d->>'operator_email' FROM inp), 'action', (SELECT d->>'action' FROM inp), 'new_status', (SELECT status FROM upd)),\n         (SELECT id FROM sub)\n  WHERE (SELECT id FROM upd) IS NOT NULL\n  RETURNING id\n)\nSELECT (SELECT id FROM sub) IS NOT NULL AS found, (SELECT status FROM upd) AS new_status,\n       (SELECT short_id FROM sub) AS short_id, (SELECT merchant_id::text FROM sub) AS merchant_id,\n       (SELECT merchant_name FROM sub) AS merchant_name, (SELECT merchant_email FROM sub) AS merchant_email,\n       (SELECT calcom_event_url FROM sub) AS calcom_event_url,\n       (SELECT seller_email FROM sub) AS seller_email, (SELECT seller_name FROM sub) AS seller_name;",
        "options": {
          "queryReplacement": "={{ JSON.stringify($json.payload) }}"
        }
      },
      "id": "pg",
      "name": "Resolve",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        220,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "GZJQdHGNtdLI18IW",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const r = $json;\nconst action = String(($('Webhook').first().json.body||{}).action||'');\nif (!r.found) return [{ json: { statusCode: 404, body: { ok:false, error:'not_found' } } }];\nconst enabled = String($env.TT_AUTOSEND_ENABLED||'').toLowerCase()==='true';\nconst transport = ($env.EMAIL_TRANSPORT||'mailpit').toLowerCase();\nconst from = $env.FROM_EMAIL || 'submissions@tagtorack.com';\nconst fromAddr = from.includes('<') ? (from.match(/<([^>]+)>/)||[,from])[1] : from;\nconst send = async (to, subject, html) => {\n  if (!enabled) return;\n  try {\n    if (transport==='resend') await this.helpers.httpRequest({ method:'POST', url:'https://api.resend.com/emails', headers:{ 'Content-Type':'application/json','Authorization':'Bearer '+$env.RESEND_API_KEY }, body:{ from:'Tag to Rack <'+fromAddr+'>', to:[to], subject, html }, json:true });\n    else await this.helpers.httpRequest({ method:'POST', url:'http://mailpit:8025/api/v1/send', headers:{ 'Content-Type':'application/json' }, body:{ From:{ Email:fromAddr, Name:'Tag to Rack' }, To:[{ Email:to }], Subject:subject, HTML:html }, json:true });\n  } catch(e) {}\n};\nconst W = (t,b)=>'<div style=\"font-family:sans-serif;max-width:520px\"><h2>'+t+'</h2>'+b+'</div>';\nif (action==='approve') {\n  const cal = r.calcom_event_url || ($env.CALCOM_BOOKING_URL||'');\n  // When TT_DIGEST_NOTIFY=true, WF-ND sends one batched email per seller instead.\n  if (String($env.TT_DIGEST_NOTIFY||'').toLowerCase()!=='true')\n    await send(r.seller_email, (r.merchant_name||'The store')+' approved your item ('+r.short_id+')', W('Good news, '+(r.seller_name||'there'),'<p>Approved. Book a drop-off:</p><p><a href=\"'+cal+'\">Schedule drop-off</a></p>'));\n} else if (action==='reject') {\n  await send(r.seller_email, 'Update on your submission ('+r.short_id+')', W('Thanks for your submission','<p>This item isn\\'t a match right now. You\\'re welcome to submit other pieces anytime.</p>'));\n} else if (action==='send_to_merchant') {\n  const base=($env.SUBMIT_PUBLIC_BASE||'https://tagtorack.com').replace(/\\/$/,'');\n  const toks=$('Prep').first().json.rawTokens||[];\n  const ap=(toks.find(t=>t.action==='approve')||{}).raw, rj=(toks.find(t=>t.action==='reject')||{}).raw;\n  await send(r.merchant_email, 'New submission to review ('+r.short_id+')', W('New item for '+(r.merchant_name||'your store'),'<p>An operator routed this for your review.</p><p><a href=\"'+base+'/submit/decision?t='+ap+'\">Approve</a> | <a href=\"'+base+'/submit/decision?t='+rj+'\">Reject</a></p>'));\n} else if (action==='requeue') {\n  try { await this.helpers.httpRequest({ method:'POST', url:'http://127.0.0.1:5678/webhook/submit/process', headers:{ 'Content-Type':'application/json' }, body:{ submission_id: $('Webhook').first().json.body.submission_id }, json:true }); } catch(e) {}\n}\nreturn [{ json: { statusCode: 200, body: { ok:true, status: r.new_status } } }];"
      },
      "id": "notify",
      "name": "Notify",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.body }}",
        "options": {
          "responseCode": "={{ $json.statusCode }}"
        }
      },
      "id": "r",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        660,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst secret = $env.INTAKE_WEBHOOK_SECRET || '';\nconst item = ($input.first() && $input.first().json) || {};\nconst h = item.headers || {};\nconst sig = String(h['x-ttr-signature'] || '');\nconst ts = String(h['x-ttr-timestamp'] || '');\nconst body = item.body;\n// Reproduce exactly what the Pages function signed: JSON.stringify(payload).\n// n8n parses the JSON body into an object preserving key order, so re-stringify\n// is byte-identical for compact JSON. If a string slipped through, sign as-is.\nconst raw = (typeof body === 'string') ? body : JSON.stringify(body == null ? {} : body);\nlet ok = false;\nif (secret && sig && /^[0-9]+$/.test(ts)) {\n  const expected = 'sha256=' + crypto.createHmac('sha256', secret).update(ts + '.' + raw).digest('hex');\n  const a = Buffer.from(sig);\n  const b = Buffer.from(expected);\n  const fresh = Math.abs(Date.now() - Number(ts)) < 300000; // 5 min replay window\n  ok = a.length === b.length && crypto.timingSafeEqual(a, b) && fresh;\n}\nif (!ok) { throw new Error('unauthorized'); }\nreturn $input.all();"
      },
      "id": "verify-sig",
      "name": "Verify Signature",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -40,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Verify Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep": {
      "main": [
        [
          {
            "node": "Resolve",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve": {
      "main": [
        [
          {
            "node": "Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Signature": {
      "main": [
        [
          {
            "node": "Prep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {}
}
