ops/n8n/workflows/WF-M8-merchant-history.json
{
  "name": "WF-M8 merchant-history",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "merchant/history",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "w",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -200,
        0
      ],
      "webhookId": "merchant-history-wh"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH inp AS (SELECT $1::jsonb AS d)\nSELECT s.id::text AS submission_id, left(s.id::text,8) AS short_id, s.status,\n       s.declared_brand, s.item_description, s.submitted_at, s.merchant_decided_at,\n       dec.decision, dec.confidence, dec.estimated_resale_usd\nFROM seller_submissions s\nLEFT JOIN LATERAL (SELECT decision, confidence, estimated_resale_usd FROM submission_decisions sd WHERE sd.submission_id=s.id ORDER BY created_at DESC LIMIT 1) dec ON true,\n     inp\nWHERE s.merchant_id = NULLIF(inp.d->>'merchant_id','')::uuid\n  AND s.status IN ('ai_failed','merchant_rejected','merchant_approved','dropoff_scheduled','completed')\n  AND (NULLIF(inp.d->>'status','') IS NULL OR s.status = inp.d->>'status')\n  AND (NULLIF(inp.d->>'q','') IS NULL\n       OR left(s.id::text,8) ILIKE '%'||(inp.d->>'q')||'%'\n       OR coalesce(s.declared_brand,'') ILIKE '%'||(inp.d->>'q')||'%'\n       OR coalesce(s.item_description,'') ILIKE '%'||(inp.d->>'q')||'%')\nORDER BY coalesce(s.merchant_decided_at, s.ai_reviewed_at, s.submitted_at) DESC\nLIMIT (SELECT LEAST(coalesce(NULLIF(d->>'limit','')::int,500),5000) FROM inp);",
        "options": {
          "queryReplacement": "={{ JSON.stringify($json.body || {}) }}"
        }
      },
      "id": "pg",
      "name": "History",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        0,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "GZJQdHGNtdLI18IW",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i=>i.json).filter(r=>r && r.submission_id);\nreturn [{ json: { statusCode: 200, body: { ok:true, submissions: rows } } }];"
      },
      "id": "shape",
      "name": "Shape",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.body }}",
        "options": {
          "responseCode": "={{ $json.statusCode }}"
        }
      },
      "id": "r",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        440,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "History": {
      "main": [
        [
          {
            "node": "Shape",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shape": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {}
}