ops/n8n/workflows/WF-MB-morning-brief.json
{
  "name": "WF-MB morning-brief",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "mb-cron",
      "name": "Every morning 08:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -220,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  (SELECT count(*) FROM seller_submissions WHERE submitted_at > now() - interval '24 hours')::int                 AS new_24h,\n  (SELECT count(*) FROM seller_submissions WHERE status='ai_borderline')::int                                     AS q_borderline,\n  (SELECT count(*) FROM seller_submissions WHERE status='merchant_review')::int                                   AS q_merchant_review,\n  (SELECT count(*) FROM seller_submissions WHERE status IN ('received','ai_reviewing'))::int                       AS q_processing,\n  (SELECT count(*) FROM seller_submissions WHERE status='pending_uploads')::int                                   AS q_pending_uploads,\n  (SELECT count(*) FROM seller_submissions WHERE status='dropoff_scheduled')::int                                 AS q_dropoff_scheduled,\n  (SELECT count(*) FROM seller_submissions\n     WHERE status NOT IN ('completed','expired','withdrawn','deleted','merchant_rejected','ai_failed')\n       AND expires_at < now() + interval '48 hours')::int                                                         AS expiring_48h,\n  (SELECT count(*) FROM merchants)::int                                                                            AS merchants_total,\n  (SELECT count(*) FROM sellers)::int                                                                              AS sellers_total,\n  (SELECT count(*) FROM sellers WHERE first_seen_at > now() - interval '24 hours')::int                           AS new_sellers_24h,\n  (SELECT count(*) FROM submission_decisions WHERE created_at > now() - interval '24 hours' AND decision='PASS')::int       AS ai_pass_24h,\n  (SELECT count(*) FROM submission_decisions WHERE created_at > now() - interval '24 hours' AND decision='FAIL')::int       AS ai_fail_24h,\n  (SELECT count(*) FROM submission_decisions WHERE created_at > now() - interval '24 hours' AND decision='BORDERLINE')::int AS ai_borderline_24h,\n  (SELECT coalesce(sum(d.estimated_resale_usd),0) FROM submission_decisions d\n     JOIN seller_submissions s ON s.id = d.submission_id\n     WHERE s.status IN ('merchant_approved','dropoff_scheduled','completed')\n       AND d.created_at > now() - interval '7 days')::numeric                                                      AS approved_resale_7d,\n  (SELECT count(*) FROM dropoff_bookings WHERE start_at > now() AND status='confirmed')::int                       AS upcoming_dropoffs,\n  (SELECT coalesce(request_count,0) FROM gemini_usage WHERE day=current_date AND model='pro')::int                 AS gemini_pro_today,\n  (SELECT coalesce(request_count,0) FROM gemini_usage WHERE day=current_date AND model='flash')::int               AS gemini_flash_today,\n  (SELECT count(*) FROM leads WHERE first_seen_at > now() - interval '24 hours')::int                            AS new_leads_24h,\n  (SELECT count(*) FROM leads WHERE status NOT IN ('closed_won','closed_lost'))::int                             AS open_leads;",
        "options": {}
      },
      "id": "mb-metrics",
      "name": "Metrics",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        0,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "GZJQdHGNtdLI18IW",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const m = $('Metrics').first().json || {};\nconst base = ($env.SITE_BASE || 'https://tagtorack.com').replace(/\\/$/, '');\nconst n = (v) => Number(v || 0);\n\n// ---- production health checks (n8n can reach the public internet) ----\nconst checks = [\n  { label: 'Home',            path: '/' },\n  { label: 'How it works',    path: '/how-it-works' },\n  { label: 'Features',        path: '/features' },\n  { label: 'Pricing',         path: '/pricing' },\n  { label: 'Demo',            path: '/demo' },\n  { label: 'Contact',         path: '/contact' },\n  { label: 'Seller submit',   path: '/submit' },\n  { label: 'Merchant portal', path: '/portal' },\n  { label: 'Admin',           path: '/admin' },\n];\nconst up = [], degraded = [], down = [];\nfor (const c of checks) {\n  let status = 0;\n  try {\n    const r = await this.helpers.httpRequest({ method: 'GET', url: base + c.path, returnFullResponse: true, timeout: 12000 });\n    status = r.statusCode || 200;\n  } catch (e) {\n    status = e.statusCode || e.httpCode || (e.response && e.response.statusCode) || 0;\n  }\n  const row = { ...c, status };\n  // 2xx/3xx = up; 401/403 = secured-and-up (portal/admin); 0 or 5xx = down; other 4xx = degraded\n  if ((status >= 200 && status < 400) || status === 401 || status === 403) up.push(row);\n  else if (status === 0 || status >= 500) down.push(row);\n  else degraded.push(row);\n}\n\n// ---- code & deploy (GitHub API; main auto-deploys to prod via Cloudflare Pages) ----\nconst ghRepo = $env.GITHUB_REPO || 'tagtorack/tagtorack-main';\nconst ghTok = $env.GITHUB_TOKEN || $env.GH_TOKEN || '';\nlet dev = { ok: false, err: '' };\nif (ghTok) {\n  try {\n    const hdr = { 'Authorization': 'Bearer ' + ghTok, 'Accept': 'application/vnd.github+json', 'User-Agent': 'tagtorack-morning-brief' };\n    const commits = await this.helpers.httpRequest({ method: 'GET', url: 'https://api.github.com/repos/' + ghRepo + '/commits?sha=main&per_page=20', headers: hdr, json: true, timeout: 12000 });\n    const prs = await this.helpers.httpRequest({ method: 'GET', url: 'https://api.github.com/repos/' + ghRepo + '/pulls?state=open&per_page=10', headers: hdr, json: true, timeout: 12000 });\n    const top = (commits && commits[0]) || {};\n    const since = Date.now() - 24 * 3600 * 1000;\n    const commits24 = (commits || []).filter(c => c.commit && new Date(c.commit.author.date).getTime() > since).length;\n    const ageH = top.commit ? Math.round((Date.now() - new Date(top.commit.author.date).getTime()) / 3600000) : null;\n    dev = { ok: true,\n      lastMsg: top.commit ? String(top.commit.message).split('\\n')[0] : '(none)',\n      lastAuthor: top.commit ? top.commit.author.name : '',\n      lastAgeH: ageH, commits24,\n      openPRs: (prs || []).length, prTitles: (prs || []).slice(0, 3).map(p => '#' + p.number + ' ' + p.title) };\n  } catch (e) { dev = { ok: false, err: String(e.statusCode || e).slice(0, 120) }; }\n}\n\n// ---- revenue (Stripe; graceful — only runs if STRIPE_API_KEY is set in n8n) ----\nconst stripeKey = $env.STRIPE_API_KEY || '';\nlet rev = { ok: false, err: '' };\nif (stripeKey) {\n  try {\n    const since = Math.floor((Date.now() - 24 * 3600 * 1000) / 1000);\n    const r = await this.helpers.httpRequest({ method: 'GET',\n      url: 'https://api.stripe.com/v1/charges?limit=100&created[gte]=' + since,\n      headers: { 'Authorization': 'Bearer ' + stripeKey }, json: true, timeout: 12000 });\n    const ch = ((r && r.data) || []).filter(c => c.paid && c.status === 'succeeded');\n    const gross = ch.reduce((a, c) => a + (c.amount || 0), 0) / 100;\n    const refunded = ch.reduce((a, c) => a + (c.amount_refunded || 0), 0) / 100;\n    rev = { ok: true, count: ch.length, gross, net: gross - refunded };\n  } catch (e) { rev = { ok: false, err: String(e.statusCode || e).slice(0, 120) }; }\n}\n\n// ---- recommendations (rule-based) ----\nconst recs = [];\nif (down.length)     recs.push('Investigate: ' + down.map(d => d.label + ' (' + (d.status||'no response') + ')').join(', ') + ' not responding.');\nif (degraded.length) recs.push('Check: ' + degraded.map(d => d.label + ' (' + d.status + ')').join(', ') + ' returned an unexpected status.');\nif (n(m.q_borderline) > 0)      recs.push(n(m.q_borderline) + ' submission(s) in YOUR review queue (AI borderline) — clear them in /admin.');\nif (n(m.expiring_48h) > 0)      recs.push(n(m.expiring_48h) + ' submission(s) expire within 48h — act before they auto-expire.');\nif (n(m.q_merchant_review) > 0) recs.push(n(m.q_merchant_review) + ' item(s) waiting on merchants to approve/reject — a nudge may help.');\nif (n(m.q_pending_uploads) > 3) recs.push(n(m.q_pending_uploads) + ' submissions stuck awaiting photos — consider a reminder to those sellers.');\nif (n(m.q_processing) > 0)      recs.push(n(m.q_processing) + ' submission(s) mid-AI-review — should clear on their own; flag if still here tomorrow.');\nif (n(m.new_24h) === 0)         recs.push('No new submissions in 24h — top of funnel is quiet. Consider re-sharing merchant seller links.');\nif (dev.ok && dev.openPRs > 0)  recs.push(dev.openPRs + ' open pull request(s) awaiting review/merge.');\nif (dev.ok && dev.lastAgeH != null && dev.lastAgeH < 3) recs.push('Code shipped to main ' + dev.lastAgeH + 'h ago — main auto-deploys, so confirm the live site looks right (health above).');\nif (n(m.open_leads) > 0)        recs.push(n(m.open_leads) + ' open lead(s)' + (n(m.new_leads_24h) > 0 ? (', ' + n(m.new_leads_24h) + ' new in 24h — respond promptly.') : ' in the pipeline — keep them moving.'));\nif (rev.ok && rev.count > 0)    recs.push(rev.count + ' payment(s) in 24h totalling $' + Math.round(rev.gross) + '.');\nif (!recs.length)               recs.push('Nothing needs action — pipeline and site are healthy. Good morning.');\n\n// ---- compose HTML ----\nconst esc = (s) => String(s == null ? '' : s).replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;');\nconst today = new Date().toLocaleDateString('en-US', { timeZone: 'America/Denver', weekday:'long', month:'long', day:'numeric', year:'numeric' });\nconst money = (v) => '$' + Number(n(v)).toLocaleString('en-US', { maximumFractionDigits: 0 });\nconst siteLine = down.length ? (down.length + ' page(s) DOWN') : (degraded.length ? (degraded.length + ' page(s) degraded') : 'All systems up');\nconst standLine = siteLine + ' · ' + n(m.new_24h) + ' new submission(s) overnight · ' +\n  (n(m.q_borderline) + n(m.q_merchant_review) + n(m.expiring_48h)) + ' item(s) need attention';\n\nconst stat = (label, val) =>\n  '<td style=\"padding:8px 14px;border:1px solid #eee;border-radius:8px;text-align:center\">' +\n  '<div style=\"font-size:20px;font-weight:700;color:#111\">' + esc(val) + '</div>' +\n  '<div style=\"font-size:11px;color:#888;text-transform:uppercase;letter-spacing:.04em\">' + esc(label) + '</div></td>';\nconst statRow = (cells) => '<table cellspacing=\"6\" cellpadding=\"0\" style=\"border-collapse:separate;margin:6px 0\"><tr>' + cells.join('') + '</tr></table>';\nconst section = (title) => '<h3 style=\"margin:22px 0 6px;font-size:14px;color:#111;border-bottom:2px solid #6d5efc;display:inline-block;padding-bottom:2px\">' + esc(title) + '</h3>';\nconst li = (s) => '<li style=\"margin:4px 0;color:#333\">' + s + '</li>';\nconst checkLine = (rows, color, mark) => rows.length\n  ? rows.map(r => '<span style=\"display:inline-block;margin:2px 10px 2px 0;color:' + color + '\">' + mark + ' ' + esc(r.label) + ' <span style=\"color:#aaa\">(' + (r.status||'—') + ')</span></span>').join('')\n  : '<span style=\"color:#aaa\">none</span>';\n\nconst html =\n  '<div style=\"font-family:-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;max-width:640px;margin:0 auto;color:#222\">' +\n  '<div style=\"background:#111;color:#fff;padding:16px 20px;border-radius:10px 10px 0 0\">' +\n    '<div style=\"font-size:18px;font-weight:700\">Tag to Rack — Morning Brief</div>' +\n    '<div style=\"font-size:13px;color:#bbb\">' + esc(today) + '</div>' +\n  '</div>' +\n  '<div style=\"border:1px solid #eee;border-top:none;border-radius:0 0 10px 10px;padding:18px 20px\">' +\n\n  '<p style=\"font-size:15px;margin:0 0 4px\"><b>Where things stand:</b> ' + esc(standLine) + '</p>' +\n\n  section('Needs your attention') +\n  '<ul style=\"margin:6px 0;padding-left:18px\">' +\n    li('<b>' + n(m.q_borderline) + '</b> in your review queue (AI borderline)') +\n    li('<b>' + n(m.q_merchant_review) + '</b> waiting on merchants to approve/reject') +\n    li('<b>' + n(m.expiring_48h) + '</b> expiring within 48h') +\n    li('<b>' + n(m.q_pending_uploads) + '</b> awaiting seller photos · <b>' + n(m.q_processing) + '</b> mid-AI-review') +\n    li('<b>' + n(m.upcoming_dropoffs) + '</b> drop-off(s) booked ahead') +\n    li('<b>' + n(m.open_leads) + '</b> open lead(s)' + (n(m.new_leads_24h) > 0 ? (' &middot; <b>' + n(m.new_leads_24h) + '</b> new in 24h') : '')) +\n  '</ul>' +\n\n  section('Last 24 hours') +\n  statRow([ stat('New subs', n(m.new_24h)), stat('New sellers', n(m.new_sellers_24h)), stat('AI pass', n(m.ai_pass_24h)), stat('AI fail', n(m.ai_fail_24h)), stat('AI borderline', n(m.ai_borderline_24h)) ]) +\n\n  section('Business at a glance') +\n  statRow([ stat('Merchants', n(m.merchants_total)), stat('Sellers', n(m.sellers_total)), stat('Approved resale 7d', money(m.approved_resale_7d)), stat('Gemini pro/flash today', n(m.gemini_pro_today) + '/' + n(m.gemini_flash_today)) ]) +\n\n  section('Leads & revenue') +\n  statRow([ stat('New leads 24h', n(m.new_leads_24h)), stat('Open leads', n(m.open_leads)), stat('Revenue 24h', rev.ok ? money(rev.gross) : 'n/a'), stat('Payments 24h', rev.ok ? n(rev.count) : '—') ]) +\n  (rev.ok ? '' : '<p style=\"margin:2px 0 0;font-size:11px;color:#bbb\">Stripe ' + (rev.err ? esc(rev.err) : 'not configured — set STRIPE_API_KEY in n8n for revenue') + '</p>') +\n\n  section('Code & deploy') +\n  (dev.ok\n    ? '<p style=\"margin:6px 0;font-size:13px\">Last commit on <b>main</b>: ' + esc(dev.lastMsg) +\n        ' <span style=\"color:#aaa\">— ' + esc(dev.lastAuthor) + (dev.lastAgeH != null ? (', ' + dev.lastAgeH + 'h ago') : '') + '</span><br>' +\n        esc(dev.commits24) + ' commit(s) in 24h &middot; <b>' + esc(dev.openPRs) + '</b> open PR(s)' +\n        (dev.prTitles && dev.prTitles.length ? '<br><span style=\"color:#888\">' + dev.prTitles.map(esc).join('<br>') + '</span>' : '') +\n        '<br><span style=\"color:#aaa\">main auto-deploys to production via Cloudflare Pages.</span></p>'\n    : '<p style=\"margin:6px 0;font-size:13px;color:#aaa\">GitHub status unavailable' + (dev.err ? (' (' + esc(dev.err) + ')') : ' — set GITHUB_TOKEN in n8n') + '</p>') +\n\n  section('Working') + '<p style=\"margin:6px 0;font-size:13px\">' + checkLine(up, '#1a8f3c', '&#10003;') + '</p>' +\n  section('Broken / degraded') + '<p style=\"margin:6px 0;font-size:13px\">' + checkLine(down.concat(degraded), '#c0392b', '&#10007;') + '</p>' +\n\n  section('Recommendations') + '<ul style=\"margin:6px 0;padding-left:18px\">' + recs.map(li).join('') + '</ul>' +\n\n  '<hr style=\"border:none;border-top:1px solid #eee;margin:18px 0 8px\">' +\n  '<p style=\"font-size:11px;color:#999;margin:0\">Generated by the local n8n morning-brief workflow. Pipeline figures are live from Postgres; site status is checked against ' + esc(base) + '. ' +\n  'Reply-to is unmonitored. To change the schedule, edit WF-MB in n8n.</p>' +\n  '</div></div>';\n\nconst subjectBits = [];\nif (down.length) subjectBits.push(down.length + ' DOWN');\nif (n(m.q_borderline) + n(m.expiring_48h) > 0) subjectBits.push((n(m.q_borderline) + n(m.expiring_48h)) + ' to action');\nif (n(m.new_24h) > 0) subjectBits.push(n(m.new_24h) + ' new');\nconst subject = 'Tag to Rack Morning Brief — ' + today + (subjectBits.length ? ' (' + subjectBits.join(', ') + ')' : '');\n\nconst to = $env.MORNING_BRIEF_TO || 'contact@tagtorack.com';\nconst fromEmail = $env.FROM_EMAIL || 'Tag to Rack <noreply@tagtorack.com>';\nreturn [{ json: { emails: [{ to, subject, html }], fromEmail } }];"
      },
      "id": "mb-compose",
      "name": "Health + compose",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const proc = $('Health + compose').first().json;\nconst transport = ($env.EMAIL_TRANSPORT || 'mailpit').toLowerCase();\nconst from = proc.fromEmail || 'Tag to Rack <noreply@tagtorack.com>';\nconst fromAddr = from.includes('<') ? (from.match(/<([^>]+)>/) || [, from])[1] : from;\nlet sent = 0; const errors = [];\n\nfor (const e of (proc.emails || [])) {\n  try {\n    if (transport === 'resend') {\n      await this.helpers.httpRequest({ method: 'POST', url: 'https://api.resend.com/emails',\n        headers: { 'Content-Type': 'application/json', 'Authorization': 'Bearer ' + $env.RESEND_API_KEY },\n        body: { from: 'Tag to Rack <' + fromAddr + '>', to: [e.to], subject: e.subject, html: e.html }, json: true });\n    } else {\n      await this.helpers.httpRequest({ method: 'POST', url: 'http://mailpit:8025/api/v1/send',\n        headers: { 'Content-Type': 'application/json' },\n        body: { From: { Email: fromAddr, Name: 'Tag to Rack' }, To: [{ Email: e.to }], Subject: e.subject, HTML: e.html }, json: true });\n    }\n    sent++;\n  } catch (err) { errors.push(String(err).slice(0, 200)); }\n}\nreturn [{ json: { sent, errors, transport } }];"
      },
      "id": "mb-send",
      "name": "Send brief",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ]
    }
  ],
  "connections": {
    "Every morning 08:00": {
      "main": [
        [
          {
            "node": "Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Metrics": {
      "main": [
        [
          {
            "node": "Health + compose",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Health + compose": {
      "main": [
        [
          {
            "node": "Send brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "timezone": "America/Denver",
    "executionOrder": "v1"
  }
}