ops/n8n/workflows/WF-M4-merchant-decide.json
{
  "name": "WF-M4 merchant-decide",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "merchant/decide",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "w",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -200,
        0
      ],
      "webhookId": "merchant-decide-wh"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH inp AS (SELECT $1::jsonb AS d),\nsub AS (\n  SELECT s.id, s.status, left(s.id::text,8) AS short_id,\n         m.display_name AS merchant_name, m.calcom_event_url,\n         se.email AS seller_email, se.name AS seller_name,\n         se.phone AS seller_phone, se.sms_consent, se.sms_opted_out_at\n  FROM seller_submissions s\n  JOIN merchants m ON m.id = s.merchant_id\n  JOIN sellers se ON se.id = s.seller_id\n  WHERE s.id = NULLIF((SELECT d->>'submission_id' FROM inp),'')::uuid\n    AND s.merchant_id = NULLIF((SELECT d->>'merchant_id' FROM inp),'')::uuid\n  LIMIT 1\n),\nupd AS (\n  UPDATE seller_submissions\n    SET status = CASE WHEN (SELECT d->>'action' FROM inp)='approve' THEN 'merchant_approved' ELSE 'merchant_rejected' END,\n        merchant_decided_at = NOW()\n  WHERE id = (SELECT id FROM sub) AND status = 'merchant_review'\n    AND (SELECT d->>'action' FROM inp) IN ('approve','reject')\n  RETURNING id, status\n),\ninvtok AS (\n  UPDATE decision_tokens SET used_at = NOW()\n  WHERE submission_id = (SELECT id FROM sub) AND used_at IS NULL AND (SELECT id FROM upd) IS NOT NULL\n  RETURNING token_hash\n)\nSELECT (SELECT id FROM sub) IS NOT NULL AS found,\n       (SELECT status FROM sub) AS prev_status,\n       (SELECT status FROM upd) AS new_status,\n       (SELECT count(*) FROM invtok) AS tokens_invalidated,\n       (SELECT short_id FROM sub) AS short_id,\n       (SELECT seller_email FROM sub) AS seller_email,\n       (SELECT seller_name FROM sub) AS seller_name,\n       (SELECT merchant_name FROM sub) AS merchant_name,\n       (SELECT calcom_event_url FROM sub) AS calcom_event_url,\n       (SELECT seller_phone FROM sub) AS seller_phone,\n       (SELECT sms_consent FROM sub) AS sms_consent,\n       (SELECT sms_opted_out_at FROM sub) AS sms_opted_out_at;",
        "options": {
          "queryReplacement": "={{ JSON.stringify({ submission_id: $json.body.submission_id, merchant_id: $json.body.merchant_id, action: $json.body.action }) }}"
        }
      },
      "id": "pg",
      "name": "Decide",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        0,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "GZJQdHGNtdLI18IW",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const r = $json;\nif (!r.found) return [{ json: { statusCode: 404, body: { ok:false, error:'not_found' } } }];\nif (!r.new_status) {\n  // already decided (not in merchant_review) — idempotent no-op, no email\n  return [{ json: { statusCode: 200, body: { ok:true, status: r.prev_status, already: true } } }];\n}\n// approve -> notify the seller (email + opt-in SMS) with the Cal.com drop-off link\nif (r.new_status === 'merchant_approved') {\n  const cal = r.calcom_event_url || ($env.CALCOM_BOOKING_URL || '');\n\n  // --- Email (Cal.com drop-off link), gated on TT_AUTOSEND_ENABLED ---\n  // When TT_DIGEST_NOTIFY=true, WF-ND sends one batched email per seller instead.\n  const emailEnabled = String($env.TT_AUTOSEND_ENABLED || '').toLowerCase() === 'true' && String($env.TT_DIGEST_NOTIFY || '').toLowerCase() !== 'true';\n  if (emailEnabled) {\n    const transport = ($env.EMAIL_TRANSPORT || 'mailpit').toLowerCase();\n    const from = $env.FROM_EMAIL || 'submissions@tagtorack.com';\n    const fromAddr = from.includes('<') ? (from.match(/<([^>]+)>/) || [,from])[1] : from;\n    const subject = (r.merchant_name || 'The store') + ' approved your item (' + r.short_id + ')';\n    const html = '<div style=\"font-family:sans-serif;max-width:520px\"><h2>Good news, ' + (r.seller_name || 'there') + '</h2>' +\n      '<p>' + (r.merchant_name || 'The store') + ' approved your item. Book a drop-off time:</p>' +\n      '<p><a href=\"' + cal + '\">Schedule your drop-off</a></p></div>';\n    try {\n      if (transport === 'resend') {\n        await this.helpers.httpRequest({ method:'POST', url:'https://api.resend.com/emails',\n          headers:{ 'Content-Type':'application/json', 'Authorization':'Bearer ' + $env.RESEND_API_KEY },\n          body:{ from:'Tag to Rack <' + fromAddr + '>', to:[r.seller_email], subject, html }, json:true });\n      } else {\n        await this.helpers.httpRequest({ method:'POST', url:'http://mailpit:8025/api/v1/send',\n          headers:{ 'Content-Type':'application/json' },\n          body:{ From:{ Email: fromAddr, Name:'Tag to Rack' }, To:[{ Email: r.seller_email }], Subject: subject, HTML: html }, json:true });\n      }\n    } catch (e) { /* best effort */ }\n  }\n\n  // --- SMS (opt-in, flag-gated), parallel to email. Sends only when:\n  //     TT_SMS_ENABLED=true AND seller consented AND not opted out AND a usable\n  //     phone is present. STOP/opt-out is enforced via sms_opted_out_at. ---\n  const smsEnabled = String($env.TT_SMS_ENABLED || '').toLowerCase() === 'true';\n  // Normalize to E.164 (US default): strip non-digits, prepend +1 for 10-digit numbers.\n  let toNum = String(r.seller_phone || '').replace(/[^0-9]/g, '');\n  if (toNum.length === 10) toNum = '1' + toNum;\n  toNum = toNum ? '+' + toNum : '';\n  if (smsEnabled && r.sms_consent && !r.sms_opted_out_at && toNum.length >= 12) {\n    const sid = $env.TWILIO_ACCOUNT_SID || '';\n    const tok = $env.TWILIO_AUTH_TOKEN || '';\n    const msgSvc = $env.TWILIO_MESSAGING_SERVICE_SID || '';\n    const fromNum = $env.TWILIO_FROM_NUMBER || '';\n    const smsBody = (r.merchant_name || 'The store') + ' approved your item! Book a drop-off: ' + cal + ' Reply STOP to opt out.';\n    if (sid && tok && (msgSvc || fromNum)) {\n      try {\n        const form = new URLSearchParams();\n        form.append('To', toNum);\n        if (msgSvc) form.append('MessagingServiceSid', msgSvc); else form.append('From', fromNum);\n        form.append('Body', smsBody);\n        await this.helpers.httpRequest({ method:'POST',\n          url:'https://api.twilio.com/2010-04-01/Accounts/' + sid + '/Messages.json',\n          headers:{ 'Content-Type':'application/x-www-form-urlencoded',\n            'Authorization':'Basic ' + Buffer.from(sid + ':' + tok).toString('base64') },\n          body: form.toString() });\n      } catch (e) { /* best effort */ }\n    }\n  }\n}\nreturn [{ json: { statusCode: 200, body: { ok:true, status: r.new_status, tokens_invalidated: r.tokens_invalidated } } }];"
      },
      "id": "notify",
      "name": "Notify",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.body }}",
        "options": {
          "responseCode": "={{ $json.statusCode }}"
        }
      },
      "id": "r",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst secret = $env.INTAKE_WEBHOOK_SECRET || '';\nconst item = ($input.first() && $input.first().json) || {};\nconst h = item.headers || {};\nconst sig = String(h['x-ttr-signature'] || '');\nconst ts = String(h['x-ttr-timestamp'] || '');\nconst body = item.body;\n// Reproduce exactly what the Pages function signed: JSON.stringify(payload).\n// n8n parses the JSON body into an object preserving key order, so re-stringify\n// is byte-identical for compact JSON. If a string slipped through, sign as-is.\nconst raw = (typeof body === 'string') ? body : JSON.stringify(body == null ? {} : body);\nlet ok = false;\nif (secret && sig && /^[0-9]+$/.test(ts)) {\n  const expected = 'sha256=' + crypto.createHmac('sha256', secret).update(ts + '.' + raw).digest('hex');\n  const a = Buffer.from(sig);\n  const b = Buffer.from(expected);\n  const fresh = Math.abs(Date.now() - Number(ts)) < 300000; // 5 min replay window\n  ok = a.length === b.length && crypto.timingSafeEqual(a, b) && fresh;\n}\nif (!ok) { throw new Error('unauthorized'); }\nreturn $input.all();"
      },
      "id": "verify-sig",
      "name": "Verify Signature",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -40,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Verify Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decide": {
      "main": [
        [
          {
            "node": "Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Signature": {
      "main": [
        [
          {
            "node": "Decide",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {}
}
