ops/n8n/workflows/WF-M6-merchant-profile.json
{
  "name": "WF-M6 merchant-profile",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "merchant/profile",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "w",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -200,
        0
      ],
      "webhookId": "merchant-profile-wh"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH inp AS (SELECT $1::jsonb AS d)\nSELECT m.id::text AS merchant_id, m.slug, m.display_name, m.rule_set\nFROM merchants m, inp\nWHERE m.id = NULLIF(inp.d->>'merchant_id','')::uuid\nLIMIT 1;",
        "options": {
          "queryReplacement": "={{ JSON.stringify($json.body || {}) }}"
        }
      },
      "id": "pg",
      "name": "Load",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        0,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "GZJQdHGNtdLI18IW",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i=>i.json).filter(r=>r && r.merchant_id);\nif (!rows.length) return [{ json: { statusCode: 404, body: { ok:false, error:'not_found' } } }];\nconst r = rows[0];\nreturn [{ json: { statusCode: 200, body: { ok:true, slug:r.slug, display_name:r.display_name, rule_set:r.rule_set||{} } } }];"
      },
      "id": "shape",
      "name": "Shape",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.body }}",
        "options": {
          "responseCode": "={{ $json.statusCode }}"
        }
      },
      "id": "r",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        440,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Load",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load": {
      "main": [
        [
          {
            "node": "Shape",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shape": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {}
}