ops/n8n/workflows/WF-M3-merchant-queue.json
{
  "name": "WF-M3 merchant-queue",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "merchant/queue",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "w",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -200,
        0
      ],
      "webhookId": "merchant-queue-wh"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT s.id::text AS submission_id, left(s.id::text,8) AS short_id,\n  s.item_description, s.declared_brand, s.declared_category, s.declared_size,\n  s.declared_condition, s.asking_price_usd, s.submitted_at,\n  d.decision, d.confidence, d.brand_detected, d.estimated_retail_usd, d.estimated_resale_usd,\n  d.pass_reasons, d.borderline_reasons, d.fail_reasons, d.internal_note,\n  (SELECT coalesce(jsonb_agg(jsonb_build_object('r2_key',p.r2_key,'role',p.role,'ord',p.ord) ORDER BY p.ord),'[]'::jsonb)\n   FROM submission_photos p WHERE p.submission_id = s.id) AS photos\nFROM seller_submissions s\nLEFT JOIN LATERAL (\n  SELECT * FROM submission_decisions sd WHERE sd.submission_id = s.id ORDER BY created_at DESC LIMIT 1\n) d ON true\nWHERE s.merchant_id = NULLIF($1::jsonb->>'merchant_id','')::uuid AND s.status = 'merchant_review'\nORDER BY s.submitted_at;",
        "options": {
          "queryReplacement": "={{ JSON.stringify({ merchant_id: $json.body.merchant_id }) }}"
        }
      },
      "id": "pg",
      "name": "Load queue",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        0,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "GZJQdHGNtdLI18IW",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "function presignGet(r2key, expiresSec) {\n  const crypto = require('crypto');\n  const acct=$env.R2_ACCOUNT_ID, ak=$env.R2_ACCESS_KEY_ID, sk=$env.R2_SECRET_ACCESS_KEY, bucket=$env.R2_BUCKET;\n  const host = acct + '.r2.cloudflarestorage.com';\n  const amzDate = new Date().toISOString().replace(/[-:]|\\.\\d{3}/g,'');\n  const day = amzDate.slice(0,8);\n  const scope = day + '/auto/s3/aws4_request';\n  const enc = (s)=>encodeURIComponent(s).replace(/[!'()*]/g,(c)=>'%'+c.charCodeAt(0).toString(16).toUpperCase());\n  const sha = (s)=>crypto.createHash('sha256').update(s).digest('hex');\n  const hmac = (k,m)=>crypto.createHmac('sha256',k).update(m).digest();\n  const uri = '/'+enc(bucket)+'/'+r2key.split('/').map(enc).join('/');\n  const q = { 'X-Amz-Algorithm':'AWS4-HMAC-SHA256','X-Amz-Credential':ak+'/'+scope,'X-Amz-Date':amzDate,'X-Amz-Expires':String(expiresSec),'X-Amz-SignedHeaders':'host' };\n  const qs = Object.keys(q).sort().map(k=>enc(k)+'='+enc(q[k])).join('&');\n  const creq = ['GET',uri,qs,'host:'+host+'\\n','host','UNSIGNED-PAYLOAD'].join('\\n');\n  const sts = ['AWS4-HMAC-SHA256',amzDate,scope,sha(creq)].join('\\n');\n  let k=hmac('AWS4'+sk,day); k=hmac(k,'auto'); k=hmac(k,'s3'); k=hmac(k,'aws4_request');\n  return 'https://'+host+uri+'?'+qs+'&X-Amz-Signature='+hmac(k,sts).toString('hex');\n}\nconst rows = $input.all().map(i => i.json).filter(r => r && r.submission_id);\nconst out = rows.map(r => ({\n  ...r,\n  photos: (r.photos || []).map(p => ({ role: p.role, ord: p.ord, url: presignGet(p.r2_key, 86400) })),\n}));\nreturn [{ json: { statusCode: 200, body: { ok: true, submissions: out } } }];"
      },
      "id": "presign",
      "name": "Presign",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.body }}",
        "options": {
          "responseCode": "={{ $json.statusCode }}"
        }
      },
      "id": "r",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        440,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Load queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load queue": {
      "main": [
        [
          {
            "node": "Presign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Presign": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {}
}