ops/n8n/workflows/WF-S1-submit-status.json
{
  "name": "WF-S1 submit-status",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "submit/status",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "w",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -200,
        0
      ],
      "webhookId": "submit-status-wh"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH inp AS (SELECT $1::jsonb AS d),\nsub AS (\n  SELECT s.id, s.status, left(s.id::text,8) AS short_id,\n         s.declared_brand, s.declared_category, s.declared_size, s.declared_condition, s.asking_price_usd,\n         m.slug AS merchant_slug, m.display_name AS merchant_name, m.brand_color, m.calcom_event_url,\n         (SELECT seller_message FROM submission_decisions sd WHERE sd.submission_id=s.id ORDER BY created_at DESC LIMIT 1) AS seller_message\n  FROM seller_submissions s JOIN merchants m ON m.id=s.merchant_id\n  WHERE s.id = NULLIF((SELECT d->>'submission_id' FROM inp),'')::uuid\n  LIMIT 1\n)\nSELECT\n  (SELECT count(*) FROM sub) > 0 AS found,\n  to_jsonb(sub.*) AS sub,\n  (SELECT coalesce(jsonb_agg(jsonb_build_object('r2_key',p.r2_key,'role',p.role,'ord',p.ord) ORDER BY p.ord),'[]'::jsonb)\n   FROM submission_photos p, sub WHERE p.submission_id = sub.id) AS photos\nFROM sub;",
        "options": {
          "queryReplacement": "={{ JSON.stringify($json.body || {}) }}"
        }
      },
      "id": "pg",
      "name": "Load",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        0,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "GZJQdHGNtdLI18IW",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "function presignGet(r2key, expiresSec) {\n  const crypto = require('crypto');\n  const acct=$env.R2_ACCOUNT_ID, ak=$env.R2_ACCESS_KEY_ID, sk=$env.R2_SECRET_ACCESS_KEY, bucket=$env.R2_BUCKET;\n  const host = acct + '.r2.cloudflarestorage.com';\n  const amzDate = new Date().toISOString().replace(/[-:]|\\.\\d{3}/g,'');\n  const day = amzDate.slice(0,8);\n  const scope = day + '/auto/s3/aws4_request';\n  const enc = (s)=>encodeURIComponent(s).replace(/[!'()*]/g,(c)=>'%'+c.charCodeAt(0).toString(16).toUpperCase());\n  const sha = (s)=>crypto.createHash('sha256').update(s).digest('hex');\n  const hmac = (k,m)=>crypto.createHmac('sha256',k).update(m).digest();\n  const uri = '/'+enc(bucket)+'/'+r2key.split('/').map(enc).join('/');\n  const q = { 'X-Amz-Algorithm':'AWS4-HMAC-SHA256','X-Amz-Credential':ak+'/'+scope,'X-Amz-Date':amzDate,'X-Amz-Expires':String(expiresSec),'X-Amz-SignedHeaders':'host' };\n  const qs = Object.keys(q).sort().map(k=>enc(k)+'='+enc(q[k])).join('&');\n  const creq = ['GET',uri,qs,'host:'+host+'\\n','host','UNSIGNED-PAYLOAD'].join('\\n');\n  const sts = ['AWS4-HMAC-SHA256',amzDate,scope,sha(creq)].join('\\n');\n  let k=hmac('AWS4'+sk,day); k=hmac(k,'auto'); k=hmac(k,'s3'); k=hmac(k,'aws4_request');\n  return 'https://'+host+uri+'?'+qs+'&X-Amz-Signature='+hmac(k,sts).toString('hex');\n}\nconst rows = $input.all().map(i=>i.json).filter(r=>r && r.found);\nif (!rows.length) return [{ json: { statusCode: 404, body: { ok:false, error:'not_found' } } }];\nconst r = rows[0];\nconst s = r.sub || {};\nconst merchantName = s.merchant_name || 'the store';\nconst msg = (s.seller_message || '').replace(/\\{\\{\\s*merchant_name\\s*\\}\\}/g, merchantName);\n\n// seller-safe stage mapping (single source of truth)\nfunction stageFor(status) {\n  switch (status) {\n    case 'pending_uploads': return { key:'received', step:1, label:'Received', message:\"We've got your photos — finishing up.\" };\n    case 'received': case 'ai_reviewing': case 'merchant_review': case 'ai_borderline':\n      return { key:'in_review', step:2, label:'In review', message:\"We're reviewing your item. You'll hear back within 24 hours.\" };\n    case 'merchant_approved': return { key:'approved', step:3, label:'Approved', message: msg || 'Good news — your item is a match. Schedule your drop-off below.', showDropoff:true };\n    case 'dropoff_scheduled': return { key:'approved', step:3, label:'Drop-off booked', message:'Your drop-off is scheduled. See you then.' };\n    case 'completed': return { key:'completed', step:3, label:'Completed', message:\"Thanks — this item's all done.\" };\n    case 'ai_failed': case 'merchant_rejected':\n      return { key:'decided', step:3, label:'Decision made', message: msg || \"Thanks for your submission. This isn't a match right now, but you're welcome to submit other items anytime.\" };\n    default: return { key:'closed', step:3, label:'Closed', message:'This submission is no longer active.' };\n  }\n}\nconst stage = stageFor(s.status);\nconst photos = (r.photos||[]).map(p=>({ role:p.role, ord:p.ord, url: presignGet(p.r2_key, 86400) }));\nreturn [{ json: { statusCode: 200, body: { ok:true,\n  merchant: { slug: s.merchant_slug, display_name: merchantName, brand_color: s.brand_color },\n  item: { brand: s.declared_brand, category: s.declared_category, size: s.declared_size, condition: s.declared_condition, asking_price_usd: s.asking_price_usd },\n  short_id: s.short_id, stage, photos,\n  calcom_url: stage.showDropoff ? (s.calcom_event_url || $env.CALCOM_BOOKING_URL || '') : null,\n} } }];"
      },
      "id": "shape",
      "name": "Shape",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.body }}",
        "options": {
          "responseCode": "={{ $json.statusCode }}"
        }
      },
      "id": "r",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst secret = $env.INTAKE_WEBHOOK_SECRET || '';\nconst item = ($input.first() && $input.first().json) || {};\nconst h = item.headers || {};\nconst sig = String(h['x-ttr-signature'] || '');\nconst ts = String(h['x-ttr-timestamp'] || '');\nconst body = item.body;\n// Reproduce exactly what the Pages function signed: JSON.stringify(payload).\n// n8n parses the JSON body into an object preserving key order, so re-stringify\n// is byte-identical for compact JSON. If a string slipped through, sign as-is.\nconst raw = (typeof body === 'string') ? body : JSON.stringify(body == null ? {} : body);\nlet ok = false;\nif (secret && sig && /^[0-9]+$/.test(ts)) {\n  const expected = 'sha256=' + crypto.createHmac('sha256', secret).update(ts + '.' + raw).digest('hex');\n  const a = Buffer.from(sig);\n  const b = Buffer.from(expected);\n  const fresh = Math.abs(Date.now() - Number(ts)) < 300000; // 5 min replay window\n  ok = a.length === b.length && crypto.timingSafeEqual(a, b) && fresh;\n}\nif (!ok) { throw new Error('unauthorized'); }\nreturn $input.all();"
      },
      "id": "verify-sig",
      "name": "Verify Signature",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -40,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Verify Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load": {
      "main": [
        [
          {
            "node": "Shape",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shape": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Signature": {
      "main": [
        [
          {
            "node": "Load",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {}
}
